@layer components {
  .header {
    margin-left: var(--space-2);
  }

  .subtitle {
    color: var(--foreground-2);
  }

  .nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: var(--space-2);
  }

  .search {
    display: flex;
    align-items: center;
    gap: var(--space-2);
  }

  .searchInput {
    flex: 1;
  }
}
