@layer components {
  .submit {
    width: 100%;
  }

  @media (prefers-reduced-motion: no-preference) {
    .spinner {
      animation: spin 1s linear infinite;
    }
  }

  @keyframes spin {
    to {
      rotate: 360deg;
    }
  }
}
