@layer components {
  .tileGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: var(--space-4);
  }

  @media (width >= 640px) {
    .tileGrid {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .separator {
    margin-block: var(--space-8);
  }

  .tabsList {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }

  .icon {
    width: 1rem;
    height: 1rem;
  }
}
