@layer components {
  .row {
    display: flex;
    justify-content: space-between;
    font-size: var(--text-sm);
    line-height: var(--leading-sm);
  }

  .bar {
    height: var(--space-2);
  }

  .cancel {
    width: 100%;
  }
}
