@layer components {
  .empty {
    padding-block: var(--space-8);
    text-align: center;
    color: var(--muted-foreground);
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
    max-height: calc(100vh - 200px);
    margin-top: var(--space-4);
    overflow-y: auto;
  }
}
